[submodule "Examples/FacebookSDK.framework"]
	path = Examples/FacebookSDK.framework
	url = git://github.com/b051/FacebookSDK.framework.git
[submodule "Examples/AFNetworking"]
	path = Examples/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
